<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>fertig Korb</title>
</head>
<body>
    <section class='corb_korb'>
        <div class="korb_seite">
            <img src="../image/furKorb.jpg" alt="shuhe" class="korb_fon">
        </div>
    
        <div class="fert_waren">
            <div class='korb_header'>
                <h2 class="korb_title">Warenkorb</h2>
            </div>
            <div class="warenkorb">
                <div class="fertig_waren">
                    <img src="../image/fertig.svg" alt="fertig" class='img_fertig_waren'>
                    <div class="fertig_title_waren">
                        <p class="fertig_title">Bestellung aufgeben!</p>
                        <p class="fertig_text"> Ihre Bestellung wird demnächst <br> an einen Kurierdienst übergeben.</p>
                    </div>
                </div>
    
            </div>
    
            <div class="btn">
                <button class="korb_btn">Zurück</button>
            </div>
        </div>
    </section>
</body>
</html>