

// Вносим все имеющие цвета из макета в переменные
$color-black: #171616;
$color-green: #6CAC3D;
$color-blue: #2D4872;
$color-grey: #C4C4C4;
$color-lightGrey: #F2F2F2;
$color-white: #FFFFFF;

// Настройка базового шрифта под разные разрешения экрана
$smallPhone: 1.5625vw; // font-size: (100/320 до 414) * 5vw где 320 это ширина моб версии макета
$phone: 1.20482vw; // font-size: (100/415 до 768) * 5vw где 414 это ширина моб версии макета
$tablet: 0.651042vw; // font-size: (100/769 до 1024) * 5vw где 1024 это ширина планшетной версии макета
$desktop: 0.694445vw; // font-size: (1000/1440) где 1440 это ширина десктопной версии макета

// шрифт по умолчанию по сайту
$fontFamily: Roboto, sans-serif;

// Цвет текста для всего сайта
$textColor: #FFFFFF;

// Цвет фона сайта
$colorBackground: #000000;

// Ширина container-а
$container: 129rem;