* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #181A20;
    font-family: 'Lobster', cursive;
}

.wrapper {
    width: 871px;
    display: flex;
    padding: 3%;
    margin: 0 auto;
    font-weight: 400;
    font-size: 96px;
    line-height: 120px;
    
}
.circle {
    background: #00CDBD;
    width: 187px;
    height: 187px;
    box-shadow: 8px 8px 8px 8px #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.quadrat {
    background: #304FFE;
    width: 187px;
    height: 187px;
    box-shadow: 8px 8px 8px 8px #000000;
    margin-right: 50px;
    margin-left: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}