.slider {
    width: 620px;
    height: 420px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 80px;
}
.slider-line {
    width: 1800px;
    height: 420px;
    display: flex;
    position: relative;
    transition: 1s;
    left: 0;
}
.tabs {
    text-align: center;
    cursor: pointer;
    padding-top: 50px;
}
.prev {
    padding: 7px 20px;
    margin-right: 20px;
    background-color: rgb(211, 56, 56);
    border: none;
    color: azure;
}
.next {
    padding: 7px 20px;
    background-color: rgb(211, 56, 56);
    border: none;
    color: azure;
}