nav {
    max-width: 860px;
    margin: 0 auto;
    margin-top: 0;
    padding-top: 0;
}

.nav_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    padding-top: 50px;
}

.menu_link {
    text-decoration: none;
    color: #4E5D79;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 28px;
    margin-left: 110px;
}

.menu_link_color {
    color: #E7E2E1;
}

.menu_link_color1 {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 28px;
    margin-left: 110px;
}

.menu_link:hover {
    text-decoration: underline;
    font-size: 1.18rem;
}

.menu_link_color1:hover {
    text-decoration: underline;
    font-size: 1.18rem;
}