body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #64b5f6;
}
.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(rgba(255,255,255,0.4), #64b5f6);
   box-shadow: inset 0 0 30px rgba(0,0,0,0.5), 0 0 20px 10px rgba(0,0,0,0.6);
}
.clock::before {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  z-index: 10;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
}
.hour, .min, .sec {
  position: absolute;
  display: flex;
  justify-content: center;
}
.hour {
  width: 160px;
  height: 180px;
  top: calc(50% - 85px);
  left: calc(50% - 80px);
}
.hour::after {
  content: "";
  width: 8px;
  height: 80px;
  background: #333;
  border-radius: 2px 2px 5px rgba(0,0,0,0.5);
}
.min {
  width: 200px;
  height: 200px;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
}
.min::after, .sec::after {
  content: "";
  width: 4px;
  height: 100px;
  background: #333;
  border-radius: 2px 2px 5px rgba(0,0,0,0.5);
}
.sec {
  width: 250px;
  height: 250px;
  top: calc(50% - 125px);
  left: calc(50% - 125px);
}
.sec::after {
  width: 2px;
  height: 150px;
  background: #fff;
}