body {
  display: flex;
  height: 100vh;
  justify-self: center;
  align-items: center;
  perspective: 600px;  /*обязательный */
 
}
.card { 
  width: 199px; /*размеры картинок такие */
  height: 274px;
  transition: 3s;
  transform-style: preserve-3d;
  position: relative;
  margin: auto;
  transform: rotateY(40deg);
} 
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
}
.front {
  background: url('./img/front\ 1.jpg');
}
.back {
  background: url('./img/back\ 1.jpg');
  transform: translateZ(-51px) rotate(360deg);
}
.card:hover {
  transform: rotateY(180deg);
}
.card::before {
  content: "";
  position: absolute;
  width: 51px;
  height: 100%;
  background: url('./img/kor.jpg');
  transform: rotateY(90deg);
  transform-origin: 0 100%;
}
