@font-face {
    font-family: Cormorant;
    font-weight: 700;
    src: url('../fonts/cormorant-v11-latin_cyrillic-700.woff2') format('woff2'),
        url('../fonts/cormorant-v11-latin_cyrillic-700.woff') format('woff');
        font-display: swap;
}

:root {
    --main-color: #fff;
    --second-color: ##262626;
    --one-color: #00654E;
    --two-color: #006E55;
    --three-color: #005844;
    --second-bg-color: #C0B487;
    --main-bg-color: #005844;
    --trigger-color: #E6AB39;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 0.04em;
    color: var(--main-color);
}

h1, h2 {
    font-family: 'Cormorant';
    font-weight: 700;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.container {
    max-width: 1290px;
    margin: 0 auto;
}



.header__btn {
    display: flex;
    padding: 14px 36px;
    gap: 10px;
    width: 206px;
    height: 51px;
    background: #E6AB39;
    border-radius: 10px;
    border-color: #E6AB39;
    cursor: pointer;
    font-family: 'Arial';
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    
    color: #FFFFFF;
}

.navigation {
    display: flex;
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    margin-top: 54px;
    margin-left: 53px;
    margin-left: 50px;
}
.menu_nav {
    text-decoration: none;
}